* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */
.Header {
  display: flex;
  width: 100%;
  height: 10vh;
  justify-content: center;
  padding: 40px 0;
}

.Header-div {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.Header-btn {
  width: 40px;
  height: 40px;
}

/* Main */
.Main {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Main-div {
  display: flex;
  width: 80%;
}


.Btn-details {
  width: 150px;
  height: 40px;
  background-color: black;
  color: white;
  padding: 5px;
}

/* Footer */
.Footer {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(243, 243, 243, 0.5);
  border-top: 1px solid rgb(224, 223, 223);
}

.Footer-div {
  display: flex;
  width: 80%;

}

.Footer-product {
  display: flex;
  flex-direction: column;
  padding: 30px 100px 20px 0;
  cursor: pointer;
  color: black;
  transition: color 0.5s ease;
}

.gris {
  color: rgb(188, 183, 183);

}