* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  overflow: hidden;
}

/* Header */
.Header {
  display: flex;
  width: 100%;
  height: 10vh;
  justify-content: center;
  padding: 40px 0;
}

.Header-div {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.Header-btn,
.Lightbox-btn {
  width: 40px;
  height: 40px;
}

/* Main */
.Main {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.Main-div {
  position: relative;
  overflow: hidden;
  align-items: center;
  display: flex;
  width: 80%;
  height: 80vh;
}

.Producto {
  position: absolute;
  left: 50%;

  transform: translate(-50%, -50%);
  transition: top 0.8s ease-in-out, opacity 0.8s ease-in-out;
  opacity: 0;
}

.inactivo-arriba {
  top: -100%;
}

.inactivo-abajo {
  top: 200%;

}

.activo {
  top: 50%;
  opacity: 1;
}


.Btn-details {
  width: 150px;
  height: 40px;
  background-color: black;
  color: white;
  padding: 5px;
}

/* Footer */
.Footer {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(243, 243, 243, 0.5);
  border-top: 1px solid rgb(224, 223, 223);
}

.Footer-div {
  display: flex;
  width: 80%;

}

.Footer-product {
  display: flex;
  flex-direction: column;
  padding: 30px 100px 20px 0;
  cursor: pointer;
  color: black;
  transition: color 0.5s ease;
}

.gris {
  color: rgb(188, 183, 183);

}


/* Lightbox */

.Lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(18, 18, 18);
  display: flex;
  flex-direction: column;
  z-index: 10;
  align-items: center;
}

.Lightbox-header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  height: 10vh;
}

.Lightbox-content {
  width: 80%;
  left: 100%;
  height: 70vh;
}

.Lightbox-footer {
  height: 20vh;
  width: 80%;
}

.Lightbox-ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.Lightbox-li {
  color: white;
  list-style: none;
  font-size: 2rem;
  cursor: pointer;
}

.Lightbox-nav {
  display: grid;
  width: 300px;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.Lightbox-a {
  text-decoration: none;
  color: rgb(166, 166, 166);
}

.Submenu {

  list-style: none;
  opacity: 0;
  transition: opacity 1s ease-out, max-height 1s ease-out;
  pointer-events: none;
  max-height: 0;
  
}

.Submenu.open {
  max-height: 500px;
  opacity: 1;
  pointer-events: auto;
}

.Submenu-li {
  font-size: 1rem;
  color: rgb(166, 166, 166);
  padding: 10px 0;
}